.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 40px;
  }
  
  .services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }
  
  .service {
    flex-direction: column;
    text-align: center;
  }
  
  .service h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .service p {
    font-size: 18px;
    text-align:center
  }
  
  .service img {
    display: flex;
    width: 80%;
    height: 400px;
  }
  
  @media only screen and (max-width: 600px) {
    .services {
      width: 100%;
      flex-direction: column;
    }
  
    .service {
      width: 100%;
      flex-direction: row;
    }
  }

  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
  }

  h1 {
    text-align: center;
    margin: 0;
    padding: 20px;
  }
  
  @media only screen and (max-width: 600px) {
    h1 {
      font-size: 24px;
      padding: 10px;
    }
  }
  @media only screen and (max-width: 320px) {
    .services {
      flex-direction: column!important;
    }
  }

