body {
  background-color: #00cc99;
}

body {
  font-family: "Roboto", sans-serif;
}

body p {
  text-align: center;
}

contenedor_carrusel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 40px;
}
