body {
  background-color: #00cc99;
}

body {
  font-family: "Roboto", sans-serif;
}

body p {
  text-align: center;
  text-justify: distribute;
}

body .borde1 {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border: 2px solid black;
}

h6 {
  font-size: 1rem;
  text-align: center;
  margin: 20px 0;
  line-height: 1.5;
}

@media only screen and (max-width: 767px) {
  h6 {
    font-size: 0.8rem;
  }
}

contenedor_carrusel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 40px;
}
